<h2>Tag List</h2>

<% all_tags.each do |tag| %>
<div class="method_details">
  <p class="signature" id="<%= h tag.name %>"><%= tag_signature tag %></p>
  <%= yieldall :object => tag.object %>
</div>
<% end %>

<h2>Directive List</h2>

<% all_directives.each do |tag| %>
<div class="method_details">
  <p class="signature" id="<%= h tag.name %>"><%= tag_signature tag %></p>
  <%= yieldall :object => tag.object %>
</div>
<% end %>