<div id="menu">
  <% if object.is_a?(CodeObjects::Base) && @file.nil? %>
    <a href="<%= url_for('index.html') %>"><% if Registry.root == object || object.type == :method %>Index<% else %>Index (<%= object.name[0] %>)<% end %></a> :: 
    <%= @breadcrumb.map {|obj| linkify obj, obj.name }.join(" :: ") %>
    <%= @breadcrumb.size > 0 ? " :: " : "" %>
    <%= Registry.root == object ? "Top Level Namespace" : object.name %>
  <% else %>
    <% if object != 'index.html' %><%= link_url('index.html', 'Index') %> :: <% end %>
    <%= @breadcrumb_title || "Index" %>
  <% end %>
</div>
