<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= @page_title %></title>
    <link rel="stylesheet" href="<%= url_for("css/style.css") %>" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="<%= url_for("css/common.css") %>" type="text/css" media="screen" charset="utf-8" />
    <% if @extra_css %>
      <link rel="stylesheet" href="<%= url_for @extra_css %>" type="text/css" media="screen" charset="utf-8" />
    <% end %>
    <script type="text/javascript" charset="utf-8">
      relpath = '<%= url_for('') %>';
      if (relpath != '') relpath += '/';
    </script>
    <script type="text/javascript" charset="utf-8" src="<%= url_for("js/jquery.js") %>"></script>
    <script type="text/javascript" charset="utf-8" src="<%= url_for("js/autocomplete.js") %>"></script>
    <script type="text/javascript" charset="utf-8" src="<%= url_for("js/app.js") %>"></script>
  </head>
  <body>
    <div id="header">
      <%= erb(:breadcrumb) %>
      <div id="search">
        <a id="class_list_link" href="#">Namespace List</a> |
        <a id="method_list_link" href="#">Method List</a> |
        <a id ="file_list_link" href="#">File List</a>
      </div>
      <div class="clear"></div>
    </div>
    
    <iframe id="search_frame"></iframe>
    
    <div id="content"><%= yieldall %></div>
    
    <div id="footer">Powered by yard <%= YARD::VERSION %> (ruby-<%= RUBY_VERSION %>)</div>
  </body>
</html>