<% if method_listing.size > 0 %>
  <h2>Method Summary</h2>
  <ul class="summary">
    <% method_listing.each do |meth| %>
      <li class="<%= meth.visibility %> <%= meth.has_tag?(:deprecated) ? 'deprecated' : '' %>">
        <span class="summary_signature"><%= signature(meth) %>
        <% if meth.aliases.size > 0 %>
        (also: <%= meth.aliases.map {|o| h(o.name(true)) }.join(", ") %>)
        <% end %>
        </span>
        
        <% if meth.has_tag?(:deprecated) %>
          <span class="summary_desc"><strong>Deprecated.</strong> <%= htmlify_line meth.tag(:deprecated).text %></span>
        <% else %>
          <span class="summary_desc"><%= htmlify_line docstring_summary(meth) %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
