<div class='section <%=generator_name %>'>
  <h2>Method Signature</h2>
  <tt class='def'>
    <span class='visibiliy'><%= object.visibility %></span>
    <span class='return_types'><%= format_return_types object %></span>
    <span class='name_args'><%= format_def object %></span>
    <span class='block'><%= format_block object %></span>
  </tt>
</div>
