<div class='section <%=generator_name %>'>
  <tt class='def'>
    <span class='visibility'><%= object.visibility %></span>
    <span class='return_types'><%= format_return_types object %></span>
    <span class='name'><%= object.name %></span><span class='args'><%= format_args object %></span>
    <span class='block'><%= format_block object %></span>
  </tt>
</div>
