<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <%= render :html_head %>
    <script src="<%= url_for(js_file) %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= url_for(js_app_file) %>" type="text/javascript" charset="utf-8"></script>
    <title><%= h format_object_title(object) %></title>
  </head>
  <body>
    <div id="content">
      <%= yield object %>
    </div>
    <%= render :footer %>
  </body>
</html>