<ul class="summary">
  <h1><%= visibility.to_s.capitalize %> <%= scope.to_s.capitalize %> Method Summary</h1>
  <% method_list.each do |meth| -%>
    <li>
      <tt class="signature">
        <span class='return_types'><%= format_return_types meth %></span>
        <span class='name_args'><%= format_short_def meth %></span>
        <span class='block'><%= format_block meth %></span>
        <% unless meth.aliases.empty? -%>
          <span class='aliases'>-&gt; <%= meth.aliases.map {|o| format_meth_name o }.join(", ") %></span>
        <% end -%>
      </tt>
      <div class="docstring">
        <%= htmlify meth.docstring.split(/\.|\n/).first || "" if meth.docstring %>
      </div>
    </li>
  <% end -%>
</ul>