<% class_methods = @object.class_methods.select {|k,m| m.visibility == :public }.sort %>
<% instance_methods = @object.instance_methods.select {|k,m| m.visibility == :public && k != 'initialize' && k != 'method_missing' }.sort %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Ruby documentation: <%= @object.path %></title>
    <style>
    .topdoc * dt {
      font-weight: bold;
    }
    .fulldoc {
      margin-left: 37px;
    }
    .fulldoc * dt {
      font-weight: bold;
    }
    h1 { color: #000; }
    td { padding: 3px; }
    </style>
  <base target="_self" />
  </head>
  <body>
    <h1>Class <%= @object.path %></h1>
<pre>
<% spaces = 0 %>
<% @object.superclasses.reverse.each do |superclass| %>
<%= (" " * spaces) + (spaces > 0 ? "+--" : "") + link_to_path(superclass) + "\n" %>
<% spaces += (spaces == 0 ? 2 : 4) %>
<%= (" " * spaces) + "|\n" %>
<% end %>
<%= (" " * spaces ) + "+--" + @object.path %>
</pre> 
    
    <% unless @object.mixins.empty? %>
    <p>
      <strong>All Included Modules:</strong><br />
      <%= "&nbsp;" * 7 %><%= @object.mixins.collect {|m| link_to_path(m, @object) }.join(", ") %>
    </p>
    <% end %>

    <hr />  
    
    <% if @object.docstring %>
      <div class="topdoc">
        <% if @object.tag("deprecated") %>
        <p><strong>Deprecated.</strong> <em><%= @object.tag("deprecated").text %></em></p>
        <% end %>
        <p>
          <%= to_html @object.docstring %>
        </p>
        <% unless @object.tags.empty? %>
        <dl>
          <% if @object.tag("author") %>
          <dt>Author:</dt>
          <dd><%= to_html @object.tag("author").text %></dd>
          <% end %>
          <% if @object.tag("since") %>
          <dt>Since:</dt>
          <dd><%= to_html @object.tag("since").text %></dd>
          <% end %>
          <% unless @object.tags("see").empty? %>
          <dt>See Also:</dt>
          <dd><%= @object.tags("see").collect {|t| "<tt>#{link_to_path(t.text, @object)}</tt>" }.join(", ") %></dd>
          <% end %>
        </dl>
        <% end %>
      </div>
      <hr />
    <% end %>
    
    <% unless @object[:attributes].empty? %>
      <h1>Attributes</h1>
      <p style="line-height:20px">
      <% @object[:attributes].sort.each do |name, rw| %>
        <tt><%= name %> [<%= [(rw[:read] ? "R" : nil), (rw[:write] ? "W" : nil)].compact.join(", ") %>]</tt><br />
      <% end %>
      </p>
    <% end %>
    
    <% displayed_constants = false %>
    <% unless @object.constants.empty? %>
    <h1>Constants</h1><% displayed_constants = true %>
    <dl>
      <% @object.constants.each do |name, constant| %>
      <dt id="const-<%= name %>"><pre><%= constant.full_source.gsub(/\s+/,' ') %></pre></dt>
      <dd><%= to_html constant.docstring %></dd>
      <% end %>
    </dl>
    <% end %>
    
    <% @object.inheritance_tree.each do |name| %>
      <% superclass = Namespace.at(name) or next %>
      <% unless (consts = superclass.constants).empty? %>
      <% unless displayed_constants %><h1>Constants</h1><% end %>
      <p><table border="1" width="100%">
        <tr background="#ddddff">
          <th>Constants <%= superclass.type == :module ? "included" : "inherited" %> from <%= link_to_path(superclass.path) %></th>
        </tr>
        <tr>
          <td><%= consts.collect {|m| "<tt>" + link_to_path(m.first, superclass.path) + "</tt>" }.join(", ") %></td>
        </tr>
      </table></p>
      <% end %>
    <% end %>
    
    <% displayed_cvars = false %>
    <% unless @object.class_variables.empty? %>
    <h1>Class Variables</h1><% displayed_cvars = true %>
    <dl>
    <% @object.class_variables.each do |name, cvar| %>
    <dt><pre><%= cvar.source.gsub(/\s+/,' ') %></pre></dt>
    <dd><%= to_html cvar.docstring %></dd>
    <% end %>
    </dl>
    <% end %>
    
    <% @object.superclasses.each do |name| %>
      <% superclass = Namespace.at(name) or next %>
      <% unless (consts = superclass.class_variables.sort).empty? %>
      <% unless displayed_cvars %><h1>Constants</h1><% end %>
      <p><table border="1" width="100%">
        <tr background="#ddddff">
          <th>Class Variables inherited from <%= link_to_path(superclass.path) %></th>
        </tr>
        <tr>
          <td><%= consts.reject {|name, cvar| @object.class_variables.has_key? name }.
                    collect {|name, cvar| "<tt>" + link_to_path(cvar, nil, name) + "</tt>" }.join(", ") %></td>
        </tr>
      </table></p>
      <% end %>
    <% end %>

    <% if method = @object.instance_methods['initialize'] %>
    <h1>Constructor Summary</h1>
    <tt>
      <%= method.source.gsub(/\Adef\s+/, '')  %>
      <% unless method.tags("yieldparam").empty? %>
        {|<%= method.tags("yieldparam").collect {|t| t.name }.join(", ") %>| ... }
      <% end %>  
    </tt>
    
        <div id="instance_method-initialize" class="fulldoc">
          <% if method.tag("deprecated") %>
          <p><strong>Deprecated.</strong> <em><%= to_html method.tag("deprecated").text %></em></p>
          <% end %>
          <% if method.tag("yield") %>
          <p><strong>Yields Block.</strong> <em><%= to_html method.tag("yield").text %></em></p>
          <% end %>
          <p>
            <%= to_html method.docstring %>
          </p>
          <% unless method.tags.empty? %>
          <dl>
            <% unless method.tags("param").empty? %>
            <dt>Parameters:</dt>
            <dd>
              <% method.tags("param").each do |tag| %>
              <% unless tag.types.empty? %>
                [<%= tag.types.collect {|t| "<tt>" + link_to_path(t,@object) + "</tt>" }.join(", ") %>]
              <% end %>
              <tt><%= tag.name %></tt> <%= "- " + to_html(tag.text) if tag.text %><br />
              <% end %>
            </dd>
            <% end %>
            <% unless method.tags("yieldparam").empty? %>
            <dt>Yield Parameters:</dt>
              <dd>
              <% method.tags("yieldparam").each do |tag| %>
                <% unless tag.types.empty? %>
                  [<%= tag.types.collect {|t| "<tt>#{link_to_path(t,@object)}</tt>" }.join(", ") %>]
                <% end %>
                <tt><%= tag.name %></tt> <%= "- " + to_html(tag.text) if tag.text %><br />
              <% end %>
              </dd>
            <% end %>
            <% if method.has_tag?("return") %>
            <dt>Returns:</dt>
            <dd><%= to_html method.tag("return").text %></dd>
            <% end %>
            <% unless method.tags("raise").empty? %>
            <dt>Raises:</dt>
            <dd>
              <% method.tags("raise").each do |tag| %>
              <tt><%= link_to_path(tag.name, @object) %></tt> <%= "- " + to_html(tag.text) if tag.text %><br />
              <% end %>
            </dd>
            <% end %>

            <% if method.tag("since") %>
            <dt>Since:</dt>
            <dd><%= to_html method.tag("since").text %></dd>
            <% end %>
            <% unless method.tags("see").empty? %>
            <dt>See Also:</dt>
            <dd><%= method.tags("see").collect {|t| "<tt>#{link_to_path(t.text, @object)}</tt>" }.join(", ") %></dd>
            <% end %>
          </dl>
          <% end %>
        </div>
      </div>
    <% else %>
      <% @object.inheritance_tree.each do |name| %>
        <% superclass = Namespace.at(name) or next %>
        <% if method = superclass.instance_methods['initialize'] %>
          <h1>Constructor Summary</h1>
          <p>
            <em>This class inherits a constructor from <tt><%= link_to_path(method.path, nil, method.parent.path) %></tt></em>
          </p>
          <% break %>
        <% end %>
      <% end %>
    <% end %>
    
    <% if method = @object.instance_methods['method_missing'] %>
    <h1>Dynamic Method Handling</h1>
    <p><em>This class handles dynamic methods through the <tt>method_missing</tt> method</em></p>
    <tt>
    <%= method.source.gsub(/\Adef\s+/, '')  %>
    <% unless method.tags("yieldparam").empty? %>
      {|<%= method.tags("yieldparam").collect {|t| t.name }.join(", ") %>| ... }
    <% end %>  
    </tt>
    
        <div id="instance_method-method_missing" class="fulldoc">
          <% if method.tag("deprecated") %>
          <p><strong>Deprecated.</strong> <em><%= to_html method.tag("deprecated").text %></em></p>
          <% end %>
          <% if method.tag("yield") %>
          <p><strong>Yields Block.</strong> <em><%= to_html method.tag("yield").text %></em></p>
          <% end %>
          <p>
            <%= to_html method.docstring %>
          </p>
          <% unless method.tags.empty? %>
          <dl>
            <% unless method.tags("param").empty? %>
            <dt>Parameters:</dt>
            <dd>
              <% method.tags("param").each do |tag| %>
              <% unless tag.types.empty? %>
                [<%= tag.types.collect {|t| "<tt>#{link_to_path(t,@object)}</tt>" }.join(", ") %>]
              <% end %>
              <tt><%= tag.name %></tt> <%= "- " + to_html(tag.text) if tag.text %><br />
              <% end %>
            </dd>
            <% end %>
            <% unless method.tags("yieldparam").empty? %>
            <dt>Yield Parameters:</dt>
              <dd>
              <% method.tags("yieldparam").each do |tag| %>
                <% unless tag.types.empty? %>
                  [<%= tag.types.collect {|t| "<tt>#{link_to_path(t,@object)}</tt>" }.join(", ") %>]
                <% end %>
                <tt><%= tag.name %></tt> <%= "- " + to_html(tag.text) if tag.text %><br />
              <% end %>
              </dd>
            <% end %>
            <% if method.has_tag?("return") %>
            <dt>Returns:</dt>
            <dd><%= to_html method.tag("return").text %></dd>
            <% end %>
            <% unless method.tags("raise").empty? %>
            <dt>Raises:</dt>
            <dd>
              <% method.tags("raise").each do |tag| %>
              <tt><%= link_to_path(tag.name, @object) %></tt> <%= "- " + to_html(tag.text) if tag.text %><br />
              <% end %>
            </dd>
            <% end %>

            <% if method.tag("since") %>
            <dt>Since:</dt>
            <dd><%= to_html method.tag("since").text %></dd>
            <% end %>
            <% unless method.tags("see").empty? %>
            <dt>See Also:</dt>
            <dd><%= method.tags("see").collect {|t| "<tt>#{link_to_path(t.text, @object)}</tt>" }.join(", ") %></dd>
            <% end %>
          </dl>
          <% end %>
        </div>
      
    <% else %>
      <% @object.inheritance_tree.each do |name| %>
        <% superclass = Namespace.at(name) or next %>
        <% if method = superclass.instance_methods['method_missing'] %>
          <h1>Dynamic Method Handling</h1>
          <p>
            <em>
              This class handles dynamic methods through the 
              <tt>
              <%= link_to_path(method.path, nil, 'method_missing') %></tt> method in 
              the <%= superclass.type %> <tt><%= link_to_path(superclass.path) %></tt>
              </tt>
            </em>
          </p>
          <% break %>
        <% end %>
      <% end %>
    <% end %>

    <% displayed_public_meth_summary = false %>
    <% [:class, :instance].each do |scope| %>
      <% unless eval("#{scope}_methods").empty? %>
      <% displayed_public_meth_summary = true %>
      <h1>Public <%= scope.to_s.capitalize %> Method Summary</h1>
      <table border="1" width="100%">
        <% eval("#{scope}_methods").each do |name, method| %>
        <tr>
          <td width="70" align="right" valign="top">
            <small>
              <% if method.tag("return") && method.tag("return").types %>
              <%= method.tag("return").types.collect {|t| link_to_path(t, @object) }.join(", ") %>
              <% else %>
              <%= YARD::ClassObject::BASE_OBJECT %>
              <% end %>
            </small>
          </td>
          <td>
            <tt>
              <%= method.source.sub(/\Adef\s+\S+?(\(|\s|;|$)/, link_to_path(method.path, nil, method.name) + '\1') if method.source %>
              <% unless method.tags("yieldparam").empty? %>
                {|<%= method.tags("yieldparam").collect {|t| t.name }.join(", ") %>| ... }
              <% end %>  
            </tt><br />
            <%= ("&nbsp;" * 5) + to_html(method.docstring.sub(/(\.|\n).+/m,'')) + "." if method.docstring && !method.docstring.empty? %>
            <% if method.tag("deprecated") %>
            <br /><strong>Deprecated.</strong> <em><%= method.tag("deprecated").text %></em>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
      <% end %>
    
      <% @object.inheritance_tree.each do |name| %>
        <% superclass = Namespace.at(name) or next %>
        <% unless (meths = superclass.send("#{scope}_methods").select {|k,m| m.visibility == :public }).empty? %>
          <% unless displayed_public_meth_summary %>
          <h1>Public <%= scope.to_s.capitalize %> Method Summary</h1>
          <% end %>
        <p><table border="1" width="100%">
          <tr background="#ddddff">
            <th>
              Public <%= scope %> methods <%= superclass.type == :module ? "included" : "inherited" %> 
              from <%= link_to_path(superclass.path) %>
            </th>
          </tr>
          <tr>
            <td><%= meths.reject {|name, m| @object.send("#{scope}_methods").has_key? name }.
              collect {|name, m| "<tt>" + link_to_path(superclass.path + (scope == :instance ? "#" : "::") + 
                          name, nil, name) + "</tt>" }.join(", ") %></td>
          </tr>
        </table></p>
        <% end %>
      <% end %>
    <% end %>
    
    <% [:class, :instance].each do |scope| %>
      <% unless eval("#{scope}_methods").empty? %>
        <h1>Public <%= scope.to_s.capitalize %> Method Details</h1>
        <% eval("#{scope}_methods").each do |name, method| %>
          <div id="<%= scope %>_method-<%= name %>">
            <h3><%= name %></h3>
            <% 
            if method.tag("return") && !method.tag("return").types.empty? 
              type = method.tag("return").types.collect {|t| link_to_path(t, @object) }.join(", ")
              type = "[#{type}]" if method.tag("return").types.size > 1
            else
              type = YARD::ClassObject::BASE_OBJECT  
            end
            %>
            <tt>
              <%= method.source.gsub(/\Adef/, "#{method.visibility} " + type) if method.source %>
              <% unless method.tags("yieldparam").empty? %>
                {|<%= method.tags("yieldparam").collect {|t| t.name }.join(", ") %>| ... }
              <% end %>  
            </tt>
            <div class="fulldoc">
              <% if method.tag("deprecated") %>
              <p><strong>Deprecated.</strong> <em><%= to_html method.tag("deprecated").text %></em></p>
              <% end %>
              <% if method.tag("yield") %>
              <p><strong>Yields Block.</strong> <em><%= to_html method.tag("yield").text %></em></p>
              <% end %>
              <p>
                <%= to_html method.docstring %>
              </p>
              <dl>
                <% @object.inheritance_tree.each do |name| %>
                  <% superclass = Namespace.at(name) or next %>
                  <% if (override = superclass.send("#{scope}_methods")[method.name]) %>
                    <dt>Overrides: 
                    <dd>
                      <tt><%= link_to_path(override.path, nil, override.name) %></tt> 
                      in <%= superclass.type %> <tt><%= link_to_path(superclass.path) %></tt>
                    </dd>
                    <% break %>
                  <% end %>
                <% end %>
                <% unless method.tags("param").empty? %>
                <dt>Parameters:</dt>
                <dd>
                  <% method.tags("param").each do |tag| %>
                  <% unless tag.types.empty? %>
                    [<%= tag.types.collect {|t| "<tt>#{link_to_path(t,@object)}</tt>" }.join(", ") %>]
                  <% end %>
                  <tt><%= tag.name %></tt> <%= "- " + to_html(tag.text) if tag.text %><br />
                  <% end %>
                </dd>
                <% end %>
                <% unless method.tags("yieldparam").empty? %>
                <dt>Yield Parameters:</dt>
                  <dd>
                  <% method.tags("yieldparam").each do |tag| %>
                    <% unless tag.types.empty? %>
                      [<%= tag.types.collect {|t| "<tt>#{link_to_path(t,@object)}</tt>" }.join(", ") %>]
                    <% end %>
                    <tt><%= tag.name %></tt> <%= "- " + to_html(tag.text) if tag.text %><br />
                  <% end %>
                  </dd>
                <% end %>
                <% if method.has_tag?("return") %>
                <dt>Returns:</dt>
                <dd><%= to_html method.tag("return").text %></dd>
                <% end %>
                <% unless method.tags("raise").empty? %>
                <dt>Raises:</dt>
                <dd>
                  <% method.tags("raise").each do |tag| %>
                  <tt><%= link_to_path(tag.name, @object) %></tt> <%= "- " + to_html(tag.text) if tag.text %><br />
                  <% end %>
                </dd>
                <% end %>

                <% if method.tag("since") %>
                <dt>Since:</dt>
                <dd><%= to_html method.tag("since").text %></dd>
                <% end %>
                <% unless method.tags("see").empty? %>
                <dt>See Also:</dt>
                <dd><%= method.tags("see").collect {|t| "<tt>#{link_to_path(t.text, @object)}</tt>" }.join(", ") %></dd>
                <% end %>
              </dl>
            </div>
          </div>
          <hr />
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>