<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <%= render :html_head %>
    <title>All Methods</title>
    <base target="main" />
  </head>
  <body>
    <div id="nav" class="methods">
      <h1>Method List</h1>
      <ul>
      <% for obj in objects %>
        <li nowrap="nowrap" class="<%= 'deprecated' if obj.has_tag?(:deprecated) %>">
          <%= linkify(obj, (obj.scope == :class ? '' : '#') + obj.name.to_s, nil, false) %> 
          <% if obj.namespace == Registry.root %>
            <em>(Global method)</em>
          <% else %>
            <em>(<%= obj.namespace.type %> <%= obj.namespace.name %>)</em>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </body>
</html>
