<div class="section <%= generator_name %>">
  <h1>Attributes</h1>

  <% ['class', 'instance'].select {|s| object.attributes[s].length > 0 }.each do |scope| -%>
    <div class="<%= scope %>">
      <h2><%= scope.capitalize %> Attributes</h2>
      <ul>
      <% object.attributes[scope].sort_by {|o| o.to_s.downcase }.each do |name, rw| -%>
        <li>
          <tt>
            <span class="name"><%= h name %></span>
            <span class="readwrite">
              [<%= ['read', 'write'].map {|t| linkify(rw[t], t[0,1].upcase) if rw[t] }.compact.join(", ") -%>] 
            </span>
            <span class="visibility">
              (<%= rw.values.compact.first.visibility %>)
            </span>
          </tt>
        </li>
      <% end -%>
      </ul>
    </div>
  <% end -%>
</div>