<% overloads(object).each do |overload| %>
  <div class='section <%=generator_name %>'>
    <tt class='def'>
      <span class='visibility'><%= overload.visibility %></span>
      <span class='return_types'><%= format_return_types overload %></span>
      <span class='name'><%= overload.name %></span><span class='args'><%= format_args overload %></span>
      <span class='block'><%= format_block overload %></span>
    </tt>
  </div>
<% end %>
