<% if tag("deprecated") %>
<p><strong>Deprecated.</strong> <em><%= to_html tag("deprecated").text %></em></p>
<% end %>
<% if tag("yield") %>
<p><strong>Yields Block.</strong> <em><%= to_html tag("yield").text %></em></p>
<% end %>
<p>
  <%= to_html docstring %>
</p>
<% unless tags.empty? %>
<dl>
  <% unless tags("param").empty? %>
  <dt>Parameters:</dt>
  <dd>
    <% tags("param").each do |tag| %>
    <% unless tag.types.empty? %>
      [<%= tag.types.collect {|t| "<tt>" + link_to_path(t, parent) + "</tt>" }.join(", ") %>]
    <% end %>
    <tt><%= tag.name %></tt> <%= "- " + to_html(tag.text) if tag.text %><br />
    <% end %>
  </dd>
  <% end %>
  <% unless tags("yieldparam").empty? %>
  <dt>Yield Parameters:</dt>
    <dd>
    <% tags("yieldparam").each do |tag| %>
      <% unless tag.types.empty? %>
        [<%= tag.types.collect {|t| "<tt>" + link_to_path(t, parent) + "</tt>" }.join(", ") %>]
      <% end %>
      <tt><%= tag.name %></tt> <%= "- " + to_html(tag.text) if tag.text %><br />
    <% end %>
    </dd>
  <% end %>
  <% if has_tag?("return") %>
  <dt>Returns:</dt>
  <dd><%= to_html tag("return").text %></dd>
  <% end %>
  <% unless tags("raise").empty? %>
  <dt>Raises:</dt>
  <dd>
    <% tags("raise").each do |tag| %>
    <tt><%= link_to_path(tag.name, parent) %></tt> <%= "- " + to_html(tag.text) if tag.text %><br />
    <% end %>
  </dd>
  <% end %>

  <% if has_tag?("author") %>
  <dt>Author:</dt>
  <dd><%= to_html tag("author").text %></dd>
  <% end %>
  <% if has_tag?("version") %>
  <dt>Version:</dt>
  <dd><%= to_html tag("version").text %></dd>
  <% end %>
  <% if has_tag?("since") %>
  <dt>Since:</dt>
  <dd><%= to_html tag("since").text %></dd>
  <% end %>
  <% unless tags("see").empty? %>
  <dt>See Also:</dt>
  <dd><%= tags("see").collect {|t| "<tt>" + link_to_path(t.text, parent) + "</tt>" }.join(", ") %></dd>
  <% end %>
</dl>
<% end %>